mixin grid-bg-lines
  .container-lines__row
    .container-lines__column
    .container-lines__column
    .container-lines__column

mixin btn(href, text)
  a.btn(href=href)=text

mixin counter(title, number, newClass)
  mixin counter-inner(title, number)
    .counter__number= number
    .counter__box
      .counter__symbol +
      .counter__title= title
  if newClass == undefined
    div(class="counter")
      +counter-inner(title, number)
  else 
    div(class="counter" + " " + newClass)
      +counter-inner(title, number)

//миксин для секции Every Project
mixin project-images__item(options)
  li(class=`project-images__item project-images__item${options.index} ` +
    `fade-left fade ${options.delay}`
    )
    img.project-images__img(
      src=options.img
      alt=`there was supposed to be a ${options.alt}`
    )
