extend ../layout/base.pug
block content
  main

    section#preview
      .container
        .preview_title
          h1.preview_title_main Digital production
          div.preview_title_text of the
          div.preview_title_big-text Future
        p.preview_description.
          With 19+ years’ experience in combining web development, 
          design and marketing, we create award-winning projects and 
          creative campaigns both online and offline.

    section#project
      .container.container-lines
        +grid-bg-lines
        .project_container
          h2.project_title.title-primary Every Project
          h3.project_subtitle.text-big Is a challenge to do better
          p.project_description.
            We are a team of talented designers and developers 
            who are ready to guide our clients through the flawless 
            and timely execution of any web design project. Since day one, 
            we have been delivering creative and unique websites to our clients worldwide.
          +btn('/#','read more about us')

    section#awards
      .container.container-lines
        +grid-bg-lines
        .awards_container
          .awards-head
            h2.awards-title.title-primary Our Awards
            p.awards-description.text-big.
              As a leading web design team, we have 
              received multiple awards over the years.
            .counter-container
              +counter('international awards', '17')
          - var n = 1
          - var text = 'award #'
          ul.awards-list
            while n < 6
              li.awards-list-item
                a.awards-link(href="#")
                  span.awards-item-title #{text}#{n}
                  img.awards-link-img(src="assets/img/awards/brand-"+ n++ +".png", alt="there was supposed to be a award")
            li.awards-list-item
              a.awards-link
                span.awards-link-arrow

    section#lastes-works
      .container.container-lines
        +grid-bg-lines
        .lates-works-container
          h2.title-primary Lates works
          +btn("#", "View all projects")

    section.demo-work.context-dark
      .container
        .demo-work-container
          h3.title-secondary Inter Restaurant
          p.demo-work-description.
            We designed and developed an updated website 
            for the Inter Restaurant as well as their new 
            interactive menu available on exclusive branded iPads.
          +btn("#", "View the website")
          ul.social-list
            li.social-item
              p Share
            each network in ["facebook", "instagram", "twitter", "youtube"]
              li.social-item
                a.social-link(href="#")
                  i(class="icon-" + network)
      ul.slider-list
        - var sliderImgList = ["lw-img1.jpg", "lw-img2.jpg"]
        each image in sliderImgList
          li.slider-item
            img(src="assets/img/lates-work/" + image, alt="there was supposed to be a lates work slide")
      .slider-btn-container 
        .slider-btn.slider-btn-next
          span.slider-arrow
        .slider-btn.slider-btn-previous
          span.slider-arrow.slider-arrow-previous
      ul.slider-toggles
        li.slider-toggle
        li.slider-toggle
      
    section.team
      .container.container-lines
        +grid-bg-lines
        .team-grid.team__container
          .team-grid__item
            ul.team-members-grid
              -
                var members = [
                  {name: "John Smith", position: "Senior designer", photo: "assets/img/photo-members/photo-1.jpg"},
                  {name: "Gary Hughes", position: "Designer", photo: "assets/img/photo-members/photo-2.jpg"},
                  {name: "Sam Lee", position: "Developer", photo: "assets/img/photo-members/photo-3.jpg"},
                  {name: "Sarah Parker", position: "Marketing manager", photo: "assets/img/photo-members/photo-4.jpg"}
                ]
              each member in members
                li.member-box
                  img.member-box__photo(src=member.photo, alt="there was supposed to be a photo")
                  div.member-box__info.member-info
                    p.member-info__name #{member.name}
                    p.member-info__position #{member.position}
          .team-grid__item
            h2.title-primary Team
            p.text-big.
              We are a dedicated team of web design, 
              development and marketing professionals 
              always ready to help you.
            //- .team-counter
          .team-grid__item
            +counter("People in team", 20)
          .team-grid__item
            ul.ordered-list
              li.ordered-list__item.
                28 exceptional full-time professionals
              li.ordered-list__item.
                5-year specialized team member practice
                