extend ../layout/base.pug
block content
  main
    //Preview
    section.preview.overflow-h
      .container

        .fade-left.fade
          .preview__title.preview-title
            h1.preview-title__main 
              | Digital production
            .preview-title__text 
              | of the
            .preview_title__text-big 
              | Future
          p.preview__description
            | With 19+ years’ experience in combining web development, 
            | design and marketing, we create award-winning projects and 
            | creative campaigns both online and offline.

    //Every Project
    section.project.overflow-h#about-anchor
      .container.container-lines
        +grid-bg-lines

        .project__container
          h2.project__title.title-primary 
            | Every Project
          h3.project__subtitle.text-big 
            | Is a challenge to do better
          p.project__description
            | We are a team of talented designers and developers 
            | who are ready to guide our clients through the flawless 
            | and timely execution of any web design project. Since day one, 
            | we have been delivering creative and unique websites to our clients worldwide.
          +btn('/#','read more about us')

      .project__images
        ul.project-images
          each time, i in [null,"4","4","2","2","6"]
            +project-images__item({
              index: i + 1,
              delay: time ? `t-delay-${time}` : '',
              img: `./assets/img/project-img/image-custom-${i + 1}.jpg`,
              alt: `project image${i + 1}`,
            })

    //Our Awards
    section.awards.overflow-h#award-anchor
      .container.container-lines
        +grid-bg-lines

        .awards_container
          .awards-head
            h2.awards-title.title-primary 
              | Our Awards
            p.awards-description.text-big
              | As a leading web design team, we have 
              | received multiple awards over the years.

            +counter('international awards', '17', "awards__counter")

          - var n = 1
          - var text = 'award #'
          
          ul.awards-list.fade-down.fade
            while n < 6
              li.awards-list-item
                a.awards-link(href="#")
                  span.awards-item-title #{text}#{n}
                  img.awards-link-img(
                    src="./assets/img/awards/brand-" + n++ + ".png"
                    alt="there was supposed to be a award"
                  )
            li.awards-list-item
              a.awards-link
                span.awards-link-arrow

    //Lates works
    section.overflow-h#lastes-works
      .container.container-lines
        +grid-bg-lines

        .lates-works-container
          h2.title-primary
            | Lates works
          +btn("#", "View all projects")

    //Inter Restaurant
    section.demo-work.context-dark
      .container

        div.demo-work-container.fade-right.fade
          h3.title-secondary
            | Inter Restaurant
          p.demo-work-description
            | We designed and developed an updated website 
            | for the Inter Restaurant as well as their new 
            | interactive menu available on exclusive branded iPads.

          +btn("#", "View the website")

          ul.social-list
            li.social-item
              p Share
            each network in ["facebook", "instagram", "twitter", "youtube"]
              li.social-item
                a.social-link(href="#")
                  i(class="icon-" + network)

      .demo-work__slider
        -
          var sliderImg = [
            "lw-img1.jpg", "lw-img2.jpg","lw-img4.jpg", "lw-img3.jpg"
          ]
        .slider
          ul.slider__slideList
            each imageSlide, indexSlide in sliderImg
              - var activeFirstSlide = indexSlide ? "" : "slide--isActive"
              li.slider__item(class=`${activeFirstSlide}`)
                .slider__overlay
                img(
                  src=`./assets/img/lates-work/${imageSlide}`
                  alt="there was supposed to be a lates work slide"
                )
        .slider__btn-container
          .slider__btn.slider-btn.slider-btn__next
            span.slider-btn__arrow
          .slider__btn.slider-btn.slider-btn__previous
            span.slider-btn__arrow.slider-btn__arrow--previous
        ul.slider__toggles
          each skipValue, indexSlide in sliderImg
            - var activeFirstSlide = indexSlide ? "" : "slide--isActive"
            li.slider__toggle(
              class=`${activeFirstSlide}`
              data-toggle-id=`${indexSlide +1}`
            )

    //Team
    section.team.overflow-h#team-anchor
      .container.container-lines
        +grid-bg-lines

        .team-grid.team__container
          ul.team__box-members
            -
              var members = [
                {
                  name: "John Smith",
                  position: "Senior designer",
                  photo: "./assets/img/photo-members/photo-1.jpg",
                  rollInSide: "right"
                },
                {
                  name: "Gary Hughes",
                  position: "Designer",
                  photo: "./assets/img/photo-members/photo-2.jpg", 
                  rollInSide: "left"
                }, 
                {
                  name: "Sam Lee",
                  position: "Developer",
                  photo: "./assets/img/photo-members/photo-3.jpg",
                  rollInSide: "right"
                },
                {
                  name: "Sarah Parker",
                  position: "Marketing manager",
                  photo: "./assets/img/photo-members/photo-4.jpg",
                  rollInSide: "left"
                }
              ]
            each member in members
              li(class=`member-box fade-${member.rollInSide} fade`)
                img.member-box__photo(
                  src=member.photo
                  alt="there was supposed to be a photo"
                )
                div.member-box__info.member-info
                  p.member-info__name #{member.name}
                  p.member-info__position #{member.position}

          .team-info
            .team-info__box
              h2.title-primary.team-info__title
                | Team
              p.text-big.team-info__description
                | We are a dedicated team of web design, 
                | development and marketing professionals 
                | always ready to help you.
            .team-info__box
              +counter("People in team", 20, "team-info__counter")
              ul.ordered-list.team-info__list
                li.ordered-list__item
                  | 28 exceptional full-time professionals
                li.ordered-list__item
                  | 5-year specialized team member practice
